<!DOCTYPE html>
<html>
<head><title>EcoReport - Persampahan</title></head>
<body>
    <h2>Fitur 1: Jadwal Pengangkutan</h2>
    <p>Truk sampah rutin keliling setiap jam 08.00 pagi dan 16.00 sore.</p>
    <hr>
    <h2>Fitur 2: Lapor Sampah Liar (Upload S3)</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        Lokasi Sampah: <input type="text" name="lokasi" required> <br><br>
        Foto Bukti: <input type="file" name="foto" required> <br><br>
        <button type="submit">Lapor Sekarang!</button>
    </form>
</body>
</html>